<div id="disqus_thread"></div>

<script>
  !function(global) {
    if(/(127|localhost)/.test(location.hostname)) return false;

    global.disqus_config = function() {
      this.page.url = '{{ site.url }}{{ page.id }}';
      this.page.identifier = '{{ page.id }}';
    };

    var d = document, s = d.createElement('script');
    s.src = '//{{ site.disqus_shorname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  }(window);
</script>

<noscript>
  请开启 JavaScript 查看
  <a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus 讨论</a>。
</noscript>
