<footer class="site-footer">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <i class="fa fa-map-marker"></i>
            {{ site.data.profile.address }}
          </li>
          <li>
            <i class="fa fa-inbox"></i>
            <a href="mailto:{{ site.data.profile.email }}">{{ site.data.profile.email }}</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <i class="fa fa-github"></i>
            <a href="https://github.com/{{ site.data.profile.github_username }}" target="_blank">
              {{ site.data.profile.github_username }}
            </a>
          </li>
          <li>
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/{{ site.data.profile.twitter_username }}" target="_blank">
              {{ site.data.profile.twitter_username }}
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
