---
layout: default
---

<div class="home">

  <h1 class="page-heading">所有文章</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">
    <i class="fa fa-rss-square"></i>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a>
  </p>

</div>

